@import "variables";

.btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: 0.46px;
  text-transform: lowercase;
  padding: 0;
  margin-bottom: 5px;

  &.btn-xl {
    border-radius: 5px;
  }

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    background-color: $light;
    border-radius: 50%;
  }

  .icon-left {
    margin: 6px -7px 6px 6px;
  }

  .icon-right {
    margin: 6px 6px 6px -7px;
  }

  .btn-text {
    padding: 0 20px;
  }

  .icon-only {
    background-color: inherit;
    margin: 6px;
  }

  &.only-text {
    background-color: transparent;
    border: none;

    &:hover,
    &:active,
    &:disabled {
      background-color: transparent;
      border: none;
    }
  }
}

.btn-sm {
  font-size: 0.875rem;
  line-height: 21px;

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;

    // i {
    //   display: inline-block;
    //   font-size: 16px;
    //   line-height: 36px;
    // }
  }
}

.btn-md {
  font-size: 1rem;
  line-height: 24px;

  .icon-left,
  .icon-right,
  .icon-only {
    width: 38px;
    height: 38px;

    i {
      display: inline-block;
      font-size: 20px;
      line-height: 38px;
    }
  }
}

.btn-lg {
  font-size: 1.25rem;
  line-height: 30px;

  .icon-left,
  .icon-right,
  .icon-only {
    width: 42px;
    height: 42px;

    i {
      display: inline-block;
      font-size: 24px;
      line-height: 42px;
    }
  }
}

.btn-xl {
  font-size: 1.5rem;
  line-height: 36px;

  .icon-left,
  .icon-right,
  .icon-only {
    width: 48px;
    height: 48px;

    i {
      display: inline-block;
      font-size: 28px;
      line-height: 48px;
    }
  }
}

.btn-secondary {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #fa8204;
  --bs-btn-border-color: #fa8204;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #ff9306;
  --bs-btn-hover-border-color: #ff9306;
  --bs-btn-focus-shadow-rgb: 213, 111, 3;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #f47303;
  --bs-btn-active-border-color: #f47303;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f7f8f9;
  --bs-btn-disabled-bg: #ffe2b4;
  --bs-btn-disabled-border-color: #ffe2b4;

  .bi,
  &.only-text {
    color: #fa8204;

    &:hover {
      color: #ff9306;
    }

    &:active {
      color: #f47303;
    }

    &:disabled {
      color: #ffe2b4;
    }
  }

  &:disabled {
    .icon-left,
    .icon-right {
      i {
        color: #ffe2b4;
      }
    }
  }
}

.btn-primary {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #305dab;
  --bs-btn-border-color: #305dab;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #386fbc;
  --bs-btn-hover-border-color: #386fbc;
  --bs-btn-focus-shadow-rgb: 79, 117, 184;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #27418a;
  --bs-btn-active-border-color: #27418a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #bddbf5;
  --bs-btn-disabled-bg: #e4f1fb;
  --bs-btn-disabled-border-color: #e4f1fb;

  &.only-text {
    color: #305dab;

    &:hover {
      color: #386fbc;
    }

    &:active {
      color: #27418a;
    }

    &:disabled {
      color: #e4f1fb;
    }
  }

  &:disabled {
    .icon-left,
    .icon-right {
      background-color: #bddbf5;
      i {
        color: #e4f1fb;
      }
    }
  }
}
