@import "variables";

.btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: 0.46px;
  text-transform: lowercase;
  padding: 0;
  margin-bottom: 5px;

  &.btn-xl {
    border-radius: 5px;
  }

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    background-color: $light;
    border-radius: 50%;
  }

  .icon-left {
    margin: 6px -7px 6px 6px;
  }

  .icon-right {
    margin: 6px 6px 6px -7px;
  }

  .btn-text {
    padding: 0 20px;
  }

  .icon-only {
    background-color: inherit;
    margin: 6px;
  }

  &.only-text {
    background-color: transparent;
    border: none;

    &:hover,
    &:active,
    &:disabled {
      background-color: transparent;
      border: none;
    }
  }
}

.btn-sm {
  font-size: 0.875rem;
  line-height: 21px;

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
  }
}

.btn-md {
  font-size: 1rem;
  line-height: 24px;

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 20px;
    line-height: 38px;
  }
}

.btn-lg {
  font-size: 1.25rem;
  line-height: 30px;

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 24px;
    line-height: 42px;
  }
}

.btn-xl {
  font-size: 1.5rem;
  line-height: 36px;

  .icon-left,
  .icon-right,
  .icon-only {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 28px;
    line-height: 48px;
  }
}

.btn-secondary {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #fa8204;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #ff9306;
  --bs-btn-hover-border-color: #ff9306;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #f47303;
  --bs-btn-active-border-color: #f47303;
  --bs-btn-disabled-color: #f7f8f9;
  --bs-btn-disabled-bg: #ffe2b4;
  --bs-btn-disabled-border-color: #ffe2b4;

  .bi {
    color: var(--bs-btn-bg);
  }

  .icon-only {
    color: var(--bs-btn-color);
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: #fff;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-disabled-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }
}

.btn-primary {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #305dab;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #386fbc;
  --bs-btn-hover-border-color: #386fbc;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #27418a;
  --bs-btn-active-border-color: #27418a;
  --bs-btn-disabled-color: #bddbf5;
  --bs-btn-disabled-bg: #e4f1fb;
  --bs-btn-disabled-border-color: #e4f1fb;

  .bi {
    color: var(--bs-btn-bg);
  }

  .icon-only {
    color: var(--bs-btn-color);
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: #fff;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      background-color: var(--bs-btn-disabled-color);
      color: var(--bs-btn-disabled-bg);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: var(--bs-btn-disabled-bg);
    }
  }
}

.btn-info {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #3c77e9;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #3d8bfd;
  --bs-btn-hover-border-color: #3d8bfd;
  --bs-btn-focus-shadow-rgb: 0, 123, 176;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #3a65d6;
  --bs-btn-active-border-color: #3a65d6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #bfdfff;
  --bs-btn-disabled-bg: #e4f3ff;
  --bs-btn-disabled-border-color: #e4f3ff;

  .bi {
    color: var(--bs-btn-bg);
  }

  .icon-only {
    color: var(--bs-btn-color);
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: #fff;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      background-color: var(--bs-btn-disabled-color);
      color: var(--bs-btn-disabled-bg);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: var(--bs-btn-disabled-bg);
    }
  }
}

.btn-warning {
  --bs-btn-color: #515c67;
  --bs-btn-bg: #f0e81a;
  --bs-btn-hover-color: #515c67;
  --bs-btn-hover-bg: #f0e81a;
  --bs-btn-hover-border-color: #f0e81a;
  --bs-btn-active-color: #515c67;
  --bs-btn-active-bg: #f0be00;
  --bs-btn-active-border-color: #f0be00;
  --bs-btn-disabled-color: #d5d8db;
  --bs-btn-disabled-bg: #fdfde5;
  --bs-btn-disabled-border-color: #fdfde5;

  .bi {
    color: var(--bs-btn-bg);
    background-color: var(--bs-btn-color);
  }

  .icon-only {
    color: var(--bs-btn-color);
    background-color: transparent;
  }


  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
      background-color: transparent;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
      background-color: transparent;
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-disabled-color);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: var(--bs-btn-disabled-bg);
    }
  }
}

.btn-danger {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #e72d0d;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #f53512;
  --bs-btn-hover-border-color: #f53512;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #cf1900;
  --bs-btn-active-border-color: #cf1900;
  --bs-btn-disabled-color: #ffcabb;
  --bs-btn-disabled-bg: #fee8e7;
  --bs-btn-disabled-border-color: #fee8e7;

  .bi {
    color: var(--bs-btn-bg);
  }

  .icon-only {
    color: var(--bs-btn-color);
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: #fff;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-disabled-bg);
      background-color: var(--bs-btn-disabled-color);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: transparent;
    }
  }
}

.btn-success {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #04c122;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #49cb4d;
  --bs-btn-hover-border-color: #49cb4d;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #00b118;
  --bs-btn-active-border-color: #00b118;
  --bs-btn-disabled-color: #c5ecc2;
  --bs-btn-disabled-bg: #e7f8e6;
  --bs-btn-disabled-border-color: #e7f8e6;

  .bi {
    color: var(--bs-btn-bg);
  }

  .icon-only {
    color: var(--bs-btn-color);
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: #fff;
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-disabled-bg);
      background-color: var(--bs-btn-disabled-color);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: transparent;
    }
  }
}

.btn-light {
  --bs-btn-color: #fa8204;
  --bs-btn-bg: #f7f8f9;
  --bs-btn-hover-color: #ff9306;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #f47303;
  --bs-btn-active-bg: #f7f8f9;
  --bs-btn-active-border-color: #f7f8f9;
  --bs-btn-disabled-color: #ffe2b4;
  --bs-btn-disabled-bg: #f7f8f9;
  --bs-btn-disabled-border-color: #f7f8f9;

  .bi {
    color: var(--bs-btn-bg);
    background-color: var(--bs-btn-color);
  }

  .icon-only {
    color: var(--bs-btn-color);
    background-color: transparent;
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: #efefef;
    }

    &:disabled {
      color: #d5d8db;
    }
  }

  &:hover {
    .bi {
      background-color: var(--bs-btn-hover-color);
    }

    .icon-only {
      color: var(--bs-btn-hover-color);
      background-color: transparent;
    }
  }

  &:active {
    .bi {
      background-color: var(--bs-btn-active-color);
    }

    .icon-only {
      color: var(--bs-btn-active-color);
      background-color: transparent;
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-bg);
      background-color: var(--bs-btn-disabled-color);
    }

    .icon-only {
      color: var(--bs-btn-disabled-color);
      background-color: transparent;
    }
  }
}

.btn-dark {
  --bs-btn-color: #f7f8f9;
  --bs-btn-bg: #424951;
  --bs-btn-hover-color: #f7f8f9;
  --bs-btn-hover-bg: #515c67;
  --bs-btn-hover-border-color: #515c67;
  --bs-btn-active-color: #f7f8f9;
  --bs-btn-active-bg: #2f343a;
  --bs-btn-active-border-color: #2f343a;
  --bs-btn-disabled-color: #f7f8f9;
  --bs-btn-disabled-bg: #d5d8db;
  --bs-btn-disabled-border-color: #d5d8db;

  .bi {
    color: var(--bs-btn-bg);
    background-color: var(--bs-btn-color);
  }

  .icon-only {
    color: var(--bs-btn-color);
    background-color: transparent;
  }

  &.only-text {
    color: var(--bs-btn-bg);

    &:hover {
      color: var(--bs-btn-hover-bg);
    }

    &:active {
      color: var(--bs-btn-active-bg);
    }

    &:disabled {
      color: var(--bs-btn-disabled-bg);
    }
  }

  &:hover {
    .bi {
      color: var(--bs-btn-hover-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:active {
    .bi {
      color: var(--bs-btn-active-bg);
    }

    .icon-only {
      color: var(--bs-btn-color);
    }
  }

  &:disabled {
    .bi {
      color: var(--bs-btn-disabled-bg);
      background-color: var(--bs-btn-color);
    }

    .icon-only {
      color: var(--bs-btn-color);
      background-color: transparent;
    }
  }
}
