$font-family-base: "Poppins", sans-serif;
$font-size-base: 1rem;

$display-font-weight: 400;
$regular-font-weight: 400;

$primary: #305dab;
$secondary: #fa8204;
$success: #04c122;
$info: #3c77e9;
$warning: #f0e81a;
$danger: #e72d0d;
$dark: #424951;
$light: #f7f8f9;
$white: #fff;
