@import './v4.6/relicts';
@import 'variables';
@import 'typography';
// @import './v4.6/mixins';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'buttons';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  padding: 16px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  section {
    background-color: #cdcdcd;
    padding: 20px;

    @include media-breakpoint-down(sm) {
      padding: 5px;

      h2, h3 {
        text-align: center;
      }
    }
  }

  button {
    padding: 0;
  }

  .navbar {
    margin-bottom: 2rem;
  }
}