@import 'variables';
@import 'typography';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'buttons';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  padding: 16px;
  margin: 0 auto;
}
